/* perfil-styles.css */

/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-bottom: 0.5rem;
    color: white; /* Cambio a texto blanco */
    background-color: #007bff; /* Fondo azul */
    display: inline-block; /* Asegura que el fondo azul solo abarque el texto */
    padding: 0.5rem 1rem; /* Ajuste de espaciado */
    border-radius: 4px; /* Bordes redondeados */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a,
nav ul li button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #007bff; /* Fondo azul */
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem; /* Ajuste de espaciado */
    border-radius: 4px; /* Bordes redondeados */
}

nav ul li a:hover,
nav ul li button:hover {
    text-decoration: underline;
    background-color: #0056b3; /* Tono más oscuro del azul */
}

main {
    padding: 2rem;
}

section {
    background-color: white;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #007bff;
}

section div {
    margin-bottom: 1rem;
}

section div label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

section div input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#cerrarSesionBtn {
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem; /* Ajuste de espaciado */
}

#cerrarSesionBtn:hover {
    background-color: #0056b3;
}
